
body{
  background-image:url("../images/background.jpg");
}

.logo{
  width:150px;
  height:100px;
}

.navbar-brand{
  color: white;
}
.btn-outline-success{
  background: white;
  border-color: green;
  color: green;
}

.img-circle{
  width:200px;
  height:200px;
}

.btn-twitter{
  background: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook{
 background: #4868ac;
 border-color: #314776;
 color: white;
}
.btn-pinterest{
 background: #b62f26;
 border-color: #b62f26;
 color: white;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail{
width:250px;
height:250px
}
