
body{
  background-image:url("../images/background.jpg");
}

.logo{
  width:50px;
  height:50px
}

.nav-link {
  background: purple;
  color: white;
}

.btn-twitter{
  background: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook{
 background: #4868ac;
 border-color: #314776;
 color: white;
}
.btn-pinterest{
 background: #b62f26;
 border-color: #b62f26;
 color: white;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail{
width:200px;
height:200px
}
